schema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="films" type="filmsType" />

    <xs:complexType name="filmsType">
        <xs:sequence>
            <xs:element name="film" type="filmType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="filmType">
        <xs:sequence>
            <xs:element name="nom" type="xs:string" />
            <xs:element name="nationalite" type="xs:string" />
            <xs:element name="realisateur" type="xs:string" />
            <xs:element name="duree" type="dureeType" />
            <xs:element name="genres" type="genresType" />
            <xs:element name="scenario" type="scenarioType" />
            <xs:element name="acteurs" type="acteursType" />
            <xs:element name="exploitation" type="exploitationType" />
            <xs:element name="image" type="imageType"/>        
        </xs:sequence>
        <xs:attribute name="annee" type="xs:gYear" />
        <xs:attribute name="visa" type="xs:positiveInteger" />
    </xs:complexType>

        
<xs:complexType name="dureeType">   
    <xs:simpleContent>
        <xs:extension base="xs:positiveInteger">
            <xs:attribute name="unite" type="xs:string" />
        </xs:extension>
    </xs:simpleContent>
</xs:complexType>

    <xs:complexType name="acteursType">
        <xs:sequence>
            <xs:element name="acteur" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="exploitationType">
        <xs:sequence>
            <xs:element name="sortie" type="xs:string" />
            <xs:element name="nbSalles" type="xs:positiveInteger" />
            <xs:element name="nbEntrees" type="xs:positiveInteger" />
            <xs:element name="listepays" type="listepaysType" />
        </xs:sequence>
    </xs:complexType>


    
    <xs:complexType name="genresType">
        <xs:sequence>
            <xs:element name="genre" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="listepaysType">
        <xs:sequence>
            <xs:element name="pays" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="imageType">
        <xs:attribute name="ref">
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="scenarioType" mixed="true">

    </xs:complexType>


    <xs:simpleType name="genre">
        <xs:restriction base="xs:string">
            <xs:enumeration value="action" />
            <xs:enumeration value="aventure" />
            <xs:enumeration value="anticipation" />
            <xs:enumeration value="casse" />
            <xs:enumeration value="catastrophe" />
            <xs:enumeration value="cape et epee" />
            <xs:enumeration value="noel" />
            <xs:enumeration value="comedie" />
            <xs:enumeration value="drame" />
            <xs:enumeration value="fantastique" />
            <xs:enumeration value="fantasy" />
            <xs:enumeration value="horreur" />
            <xs:enumeration value="historique" />
            <xs:enumeration value="opera" />
            <xs:enumeration value="peplum" />
            <xs:enumeration value="romance" />
            <xs:enumeration value="science-fiction" />
            <xs:enumeration value="thriller" />
            <xs:enumeration value="western" />
            <xs:enumeration value="animation" />
            <xs:enumeration value="famille" />
            <xs:enumeration value="biopic" />
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="pays">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Albanie" />
            <xs:enumeration value="Allemagne" />
            <xs:enumeration value="Andorre" />
            <xs:enumeration value="Arménie" />
            <xs:enumeration value="Autriche" />
            <xs:enumeration value="Azerbaïdjan" />
            <xs:enumeration value="Belgique" />
            <xs:enumeration value="Biélorussie" />
            <xs:enumeration value="Bosnie-Herzégovine" />
            <xs:enumeration value="Bulgarie" />
            <xs:enumeration value="Chypre" />
            <xs:enumeration value="Croatie" />
            <xs:enumeration value="Danemark" />
            <xs:enumeration value="Espagne" />
            <xs:enumeration value="Estonie" />
            <xs:enumeration value="Finlande" />
            <xs:enumeration value="France" />
            <xs:enumeration value="Géorgie" />
            <xs:enumeration value="Grèce" />
            <xs:enumeration value="Hongrie" />
            <xs:enumeration value="Irlande" />
            <xs:enumeration value="Islande" />
            <xs:enumeration value="Italie" />
            <xs:enumeration value="Kazakhstan" />
            <xs:enumeration value="Kosovo" />
            <xs:enumeration value="Lettonie" />
            <xs:enumeration value="Liechtenstein" />
            <xs:enumeration value="Lituanie" />
            <xs:enumeration value="Luxembourg" />
            <xs:enumeration value="Malte" />
            <xs:enumeration value="Moldavie" />
            <xs:enumeration value="Monaco" />
            <xs:enumeration value="Monténégro" />
            <xs:enumeration value="Norvège" />
            <xs:enumeration value="Pays-Bas" />
            <xs:enumeration value="Pologne" />
            <xs:enumeration value="Portugal" />
            <xs:enumeration value="République tchèque" />
            <xs:enumeration value="Roumanie" />
            <xs:enumeration value="Royaume-Uni" />
            <xs:enumeration value="Russie" />
            <xs:enumeration value="Saint-Marin" />
            <xs:enumeration value="Serbie" />
            <xs:enumeration value="Slovaquie" />
            <xs:enumeration value="Slovénie" />
            <xs:enumeration value="Suède" />
            <xs:enumeration value="Suisse" />
            <xs:enumeration value="Ukraine" />
            <xs:enumeration value="Vatican" />
        </xs:restriction>
    </xs:simpleType>


</xs:schema>